#home {
  background-color: floralwhite;
  width: 1440px;
  border: 2px solid #000;
  margin:2% auto;
  #top {
    text-align: center;
    border: outset;
    width: 100%;
  }
  #center {
    border: outset;
    //height: 300px;
    width: 100%;
    #left {
      border: outset;
      float: left;
      width: 48%;
    }
    #right {
      background-color: #f7ecb5;
      border: outset;
      float: right;
      width: 48%;
      font-size: 15px;
    }
    #centerDown{
      width:70%;
      margin: 0 auto;
      background-color: #4cae4c;
      clear:both;
    }
    #testFunction{
      border:solid 1px greenyellow;
      font-family: "Microsoft YaHei UI";
    }

    .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .clearfloat{zoom:1}
   /* .clearfloat:after{
      display:block;clear:both;content:"";visibility:hidden;height:0;
    }
    .clearfloat{zoom:1}*/
  }
}
.btnSize{
  font-size:15px;
}
[v-cloak]{
  display:none;
}