#home {
  color: blue;
  width: 600px;
  height: 500px;
  border: outset;
  #top {
    border: outset;
    width: 90%;
  }
  #center {
    border: outset;
    height: 300px;
    width: 90%;
    #left {
      border: outset;
      float: left;
      width: 40%;
    }
    #right {
      border: outset;
      float: left;
      width: 40%;
    }
  }
}