#home {
  color: blue;
  width: 600px;
  height: 500px;
  border: outset;
}
#home #top {
  border: outset;
  border-color: #000000 greenyellow;
}
#home #center {
  border: outset;
  height: 300px;
  width: 100%;
  /* .clearfloat:after{
      display:block;clear:both;content:"";visibility:hidden;height:0;
    }
    .clearfloat{zoom:1}*/
}
#home #center #left {
  border: solid 1px red;
  float: left;
  width: 30%;
}
#home #center #right {
  border: solid 1px green;
  float: right;
  width: 30%;
  font-size: 15px;
}
#home #center #testFunction {
  border: solid 1px greenyellow;
  font-family: "Microsoft YaHei UI";
}
#home #center .clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
#home #center .clearfloat {
  zoom: 1;
}
.btnSize {
  font-size: 15px;
}
[v-cloak] {
  display: none;
}
